*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    background-color: #eb9f59;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a{
    color: #039469;
    text-decoration: none;
}


 .opciones{
     margin: 10px 20px;
     color: rgb(31, 17, 157);
     display: inline-block;
     font-size: 1.6em;
     font-weight: 600;
     cursor: pointer    ;
 }
 .arrowUp a{
     width: 50px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-content: center;
     margin-right: 50px;
     color: rgb(223, 223, 79);
     font-size: 3em;
     background-color: rgba(255, 0, 0, 0.594);
     border-radius: 50%;
     position: fixed;
     right: 0; 
     top: 90%;
     transition: all 300ms linear;
     cursor: pointer;
 }
 .arrowUp a:hover{
    background-color: rgb(255, 0, 0);

 }
.names {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding-top: 5px ;
    background: #8cc7f5;
    display: none;
    flex-direction: column;
    align-items: center;
   
}
.names a {
    font-size: 1.2em;
    color: rgb(70, 57, 57);
    margin: 5px 10px;
    text-shadow: 0 0 3px white;
    text-transform: capitalize;
 
}
.names a:hover{
    color: #f00abb;
}

 section p:first-child{
     color: #1900ff;
 }
.container{
    margin-bottom: 20px ;
    padding: 5px;
    padding-left: 10px;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    background-color: rgb(240, 225, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.datos{
   
    width: 60%;
    
}
.foto{
    width: 40%;
    height: 250px;
    cursor: pointer;    
}

p{
    margin: 5px 0;
    border-bottom: 1px solid #eee;
}
 
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    position: relative;
}

.card{
    height: 100%;
    cursor: pointer;
}
.card img{
    object-fit: cover;
}
.volver{
    margin: 10px;
    text-align: center;
}
.volver button {
    display: inline-block;
    width: 90px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    border: none;
    background-color: rgb(4, 158, 164);
    cursor: pointer;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: #222;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.close,
.prev,
.next { 
    padding: 5px;    
    color: red;
    background: #000;
    border-radius: 50%;
    border: 1px solid red;
    font-size: 16px;
    position: absolute;
}
.close{
    top: 10px;
    left: 10px;
}
.prev{
    top: 50%;
    left: 10px;
}
.next{
    top: 50%;
    right: 10px;
}

.video{
    width: 20%;
    height: 15%;
    margin: 0 20px ;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    
}
video{
    width: 100%;
    height: 100%;
    margin: 0 5px;
}

.show{
    display: flex;
}